<h1>Doctor Show Page</h1>
Doctor: <%= @doctor.name %> <br />
Department: <%= @doctor.department %> <br />

<h3>Appointments</h3>
<%= @doctor.appointments.each do |apt| %>
    <p><%= apt.print_apt_time %>
    <%= link_to apt.patient.name, patient_path(apt.patient) %></p>
<% end %>